@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@300;600&display=swap");
header {
  width: 375px;
  height: 600px;
  padding: 62px 24px;
  border-radius: 0 0 0 94px;
  background-image: url("../../images/bg-pattern-intro-mobile.svg"), linear-gradient(var(--gradient1), var(--gradient2));
  background-position: 34% 34%;
  background-repeat: no-repeat;
  position: relative;
}
header .header-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}
header .header-container .icon-menu {
  display: none;
}
header .header-container .nav {
  display: none;
  width: 100%;
  height: 512px;
  margin: 37px auto;
  background-color: var(--White);
  border-radius: 5px;
  z-index: 1;
}
header .header-container .nav .ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-flow: column no-wrap;
  justify-content: space-between;
  align-items: center;
}
header .header-container .nav .ul .li {
  display: flex;
  flex-direction: column;
  flex-flow: column no-wrap;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  margin-block: 25px;
  font-size: 1em;
  cursor: pointer;
}
header .header-container .nav .ul .li .conect-submenu {
  border-radius: 5px;
  padding-inline: 90px;
  background-color: var(--Grayish-blue);
  display: flex;
  flex-direction: column;
  flex-flow: column no-wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 24px;
  width: 85%;
}
header .header-container .nav .ul .li .conect-submenu li {
  padding-left: 1rem;
  margin-block: 14px;
  font-weight: 600;
  font-size: 12px;
}
header .header-container .nav .ul .icon-arrow {
  position: relative;
}
header .header-container .nav .ul .icon-arrow::after {
  position: absolute;
  content: url(../../images/icon-arrow-dark.svg);
  right: 110px;
  top: 0;
}
header .header-container .nav .ul .icon-arrow.active::after {
  transform: rotate(180deg);
}
header .header-container .nav hr {
  width: 85%;
  height: 1px;
  background-color: var(--Grayish-blue);
  margin: 0 auto;
}
header .header-container .nav span {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  flex-flow: row no-wrap;
  justify-content: center;
  align-items: center;
}
header .header-container .nav .button-login {
  margin: 22px auto 0 auto;
  background: linear-gradient(var(--gradient1), var(--gradient2));
  padding: 10px 30px;
  border-radius: 20px;
  color: var(--White);
  font-weight: 600;
  font-size: 12px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

:root {
  --Light-red: hsl(356, 100%, 66%);
  --Very-light-red: hsl(355, 100%, 74%);
  --Very-dark-blue: hsl(208, 49%, 24%);
  --White: hsl(0, 0%, 100%);
  --Grayish-blue: hsl(240, 2%, 79%);
  --Very-dark-grayish-blue: hsl(207, 13%, 34%);
  --Very-dark-black-blue: hsl(240, 10%, 16%);
  --gradient1: hsl(13, 100%, 72%);
  --gradient2: hsl(353, 100%, 62%);
  --gradient3: hsl(237, 17%, 21%);
  --gradiente4: hsl(237, 23%, 32%);
  --font:"Overpass", sans-serif;
}

/* Definimos las Custom properties */
:root {
  /* Colores */
  --negro: #393939;
  /* TipografÃ­a */
  --tipo-principal: Helvetica, Arial, sans-serif;
  --tipo-secundaria: Verdana;
}

/* (Opcional) Las adaptamos al modo oscuro */
@media (prefers-color-scheme: dark) {
  :root {
    --negro: #ececec;
  }
}
/* (Opcional) Configuramos si un usuario ha activado el modo alto contraste. (WD) */
/* (Opcional) Desactivamos los animations en el caso de que el usuario haya configurado el modo sin animation */
@media (prefers-reduced-motion: reduce) {
  * {
    animation: none !important;
    transition: none !important;
  }
}
/* Reseteamos los margin y paddings de todas las etiquetas */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

*::before,
*::after {
  display: block;
}

/* Evitamos problemas con las imagenes */
img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* (Opcional) */
  -o-object-fit: cover;
     object-fit: cover;
  /* (Opcional) */
  -o-object-position: center center;
     object-position: center center;
}

/* Reseteamos los enlaces para funcionar como cajas... */
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

/* ... excepto los que se encuentran en pÃ¡rrafos */
p a {
  display: inline;
}

/* Quitamos los puntos de los <li> */
li {
  list-style-type: none;
}

/* (Opcional) Configuramos anclas suaves */
html {
  scroll-behavior: smooth;
}

/* Desactivamos estilos por defecto de las principales etiquetas de texto */
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: inherit;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

/* Evitamos problemas con los pseudoelementos de quotes */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* (Opcional) Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}

/* Nivelamos problemas de tipografÃ­as y colocaciÃ³n de formularios */
form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* (Opcional) */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/* Reseteamos las tablas */
table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}

/* Configuramos la tipografÃ­a para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--font);
  font-weight: 600;
  color: --White;
  /* (Opcional) */
  font-smooth: always;
  /* (Opcional) */
  -webkit-font-smoothing: antialiased;
  /* (Opcional) */
  -moz-osx-font-smoothing: grayscale;
}/*# sourceMappingURL=style.css.map */