@use "../base/mixins" as m;

header {
  width: min(100%, 375px);
  height: 600px;
  background-image: url("../../images/bg-pattern-intro-mobile.svg"),
    linear-gradient(var(--gradient1), var(--gradient2));
  background-repeat: no-repeat;
  background-position: 36% 36%;
  border-radius: 0 0 0 88px;
  .header-container {
    padding: 48px 21px 0 21px;
    @include m.flex(row, wrap, space-between, center);

    .brand {
    }
    .icon-menu {
    }
    .icon-close {
      display: none;
    }
    .nav {
      width: 100%;
      margin-top: 33px;
      background-color: var(--White);
      border-radius: 8px;
      box-shadow: 5px 10px 15px rgb(0 , 0, 0, 0.2);

      .ul {
        @include m.flex(column, no-wrap, center, center);
        padding-block: 34px;
        gap: 2.125rem;

        .li {
          width: 100%;
          @include m.flex(column, no-wrap, center, center);
          font-size: 1.1875em;
          font-weight: 600;
          position: relative;

          &::after {
            position: absolute;
            content: url("../../images/icon-arrow-dark.svg");
            top: 0;
            right: -1rem;
          }

          &.active::after {
            transform: rotate(180deg);
          }
        }
        .sub-menu {
          .conect-submenu {
           
            width: calc(100% - 28px);
            margin-top: 1.5rem;
            padding-block: 1.5rem;
            background-color: var(--Grayish-blue);
            @include m.flex(column, no-wrap, center, center);
            border-radius: 8px;
            gap: 1.5rem;
            
          }
        }
      }

      hr {
        width: calc(100% - 28px);
        height: 1px;
        background-color: var(--Grayish-blue);
        margin-top: 1.5rem;
        margin-inline: auto;
      }

      .container-login {
       
        margin-top: 2.1875rem;
        @include m.flex(column, no-wrap, center, center);
        
        span {
          font-size: 1.125rem;
          margin-bottom: 1rem;
          font-weight: 600;
        }

        .button-sign {
          background: linear-gradient(
            120deg,
            var(--gradient1),
            var(--gradient2)
          );
          margin-bottom: 1.875rem;
          color: var(--White);
        }
      }
    }
  }
  
  .title {
    margin-top: 100px;
    color: var(--White);
    text-align: center;
    font-size: 1.625em;
    font-weight: 600;
    margin-inline: auto;
    width: 65%;

  }
  .subtitle {
    margin-top: 1rem;
    margin-inline: auto;
    text-align: center;
    width: 70%;
    color:var(--Grayish-blue);
    font-weight: 300;
  }
  .container-buttons {
    margin-top: 2.75rem;
    @include m.flex(row, no-wrap, center,center);
    gap: 1rem;
    
    .button-start {
      color: var(--Light-red);

      &:hover{
        background-color: var(--Very-light-red);
        color: var(--White);
      }
    }
    .button-learn {
      border: 1px solid var(--White);
      background-color: var(--Light-red);
      color: var(--White);

      &:hover{
        background-color: var(--White);
        color: var(--Light-red);
        border: 1px solid var(--Very-light-red);

      }
    }
  }
  
  .main {
  }
  .start-section {
  }
  .ilustracion-editor {
  }
  .container-text {
  }
  .start-subtitle {
  }
  .parraf {
  }
  .start-parraf {
  }
  .medium-section {
  }
  .wrap-container {
  }
  .ilustration-phone {
  }
  .container__pattern {
  }
  .ilustration-circles {
  }
  .description {
  }
  .description__title {
  }
  .description__parraf {
  }
  .end-section {
  }
  .ilustration-laptop {
  }
  .container-parraf {
  }
  .end-subtitle {
  }
  .end-parraf {
  }
  .footer {
  }
  .footer__title {
  }
  .footer__container {
  }
  .footer__section {
  }
  .footer__subtitle {
  }
  .footer__list {
  }
  .footer__list__item {
  }
  .attribution {
  }
}
