
header{
  width: 100%;
  min-height: 528px;
  background-color: var(--Light-red);
  border-radius: 0 0 0 94px;
  background-image: url("../../images/bg-pattern-intro-mobile.svg");

  background-position: 35% 41%;
  background-repeat: no-repeat;
}